<tr>
  <th scope="row"><%= index %></th>
  <td><%= students_book_105.Ma_HS %></td>
  <td><%= students_book_105.Ten_HS %></td>
  <td><%= students_book_105.Lop %></td>
  <td><%= students_book_105.Ma_Sach %></td>
  <td><%= students_book_105.Ten_Sach %></td>
  <td><%= students_book_105.Ten_TacGia %></td>
  <td><%= students_book_105.Tu_Sach %></td>
  <td><%= students_book_105.So_BM %></td>
  <td><%= students_book_105.NgayMuon %></td>
  <td><%= students_book_105.NgayTra %></td>
  <td><%= students_book_105.So_Ngay %></td>
</tr>
